.hide {
    display: none;
}


#logout {
    display: none;
}

.logged-in #form-login {
    display: none !important;
}

.logged-in #logout {
    display: block;
}

#left-nav {
    overflow: hidden;
    max-width: 420px;
}

h2.book-title {
    margin-bottom: 20px;
}

.list-container {
    /* width: 18rem; */
}
    .card.list-item {
        float: left;
        width: 17rem;
        margin: 0 10px 20px;
        padding: 0px;
    }

        .card.list-item .card-body {
            height: auto;
            padding: 13px 12px;
            text-decoration: none;
            color: #333;
        }

    .list-generate-image {
        position: absolute;
        top: -9px;
        right: -1px;
        font-size: 1.3rem;
        color: #333;
    }